.wrapper-desktop {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.wrapper-mobile {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.image-desktop {
    width: 100vw;
    height: 100vh;
    cursor: pointer;
}